{% extends "example_base.html" %}

{% block content %}

<fieldset id="filter">
      <legend>Filter</legend>
      <div id="branch-selection">
        <span>Branch:</span>
        <span>All</span>
        <span class="selected">8.0</span>
        <span>7.0</span>
        <span>6.0</span>
        <span>5.0</span>
        <span>4.0</span>
        <span>3.6</span>
      </div>
      <div id="os-selection">
        <span>OS: </span>
        {% for os in operating_systems %}
        <span>{{os}}</span>
        {% endfor %}
        <span class="selected">Windows NT</span>
      </div>
      <div id="locale">
        <span>OS: </span>
        {% for locale in locales %}
        <span>{{locale}}</span>
        {% endfor %}
      </div>
      <div id="date">
        <span>From: </span>
        <input id="start-date" class="datepicker hasDatepicker" type="text" value="{{from_date}}" size="11">
        <span>To: </span>
        <input id="end-date" class="datepicker hasDatepicker" type="text" value="{{to_date}}" size="11">
      </div>
    </fieldset>


<div>
Oerating System: 
<form method='get'>

<p>
<input type="radio" name="os" value="all" checked/>All
{% for os in operating_systems %}
<input type="radio" name="os" value="{{os}}"/>{{os}}
{% endfor %}
</p>

<p>
<input type="radio" label="all" name="locale" value="all" checked/>All
{% for locale in locales %}
<input type="radio" name="locale" value="{{locale}}"/>{{locale}}
{% endfor %}
</p>

<p>
<input type="text" name="from_date" value="{{from_date}}"/>
<input type="text" name="to_date" value="{{to_date}}"/>
</p>

<input type="submit"/>
</form>
</div>

<div id="results">
<table>
{% for report in reports %}
  <tr>
    <td><a href ="/report/{{report.id}}">{{report.date}}</a><td>
    <td>{{report.version}}<td>
    <td>{{report.build}}<td>
    <td>{{report.locale}}<td>
    <td>{{report.cpu}}<td>
    <td>{{report.pass}}<td>
    <td>{{report.skip}}<td>
    <td>{{report.fail}}<td>
</tr>
{% endfor %}
</table>
</div>


{% endblock %}
