{% extends "base.html" %}

{% block content %}

<fieldset id="filter">
      <legend>Filter</legend>
      <div id="branch">
        <label>Branch:</label>
        <span>All</span>
        <span class="selected">8.0</span>
        <span>7.0</span>
        <span>6.0</span>
        <span>5.0</span>
        <span>4.0</span>
        <span>3.6</span>
      </div>
      <div id="os">
        <label>OS: </label>
        {% for os in operating_systems %}
        <span {% if os==current_os %}class="selected"{% endif %}>{{os}}</span>
        {% endfor %}
      </div>
      <div id="locale">
        <label>Locale: </label>
        {% for locale in locales %}
        <span  {% if locale==current_locale%}class="selected"{% endif %}>{{locale}}</span>
        {% endfor %}
      </div>
      <div id="date">
        <label>From: </label>
        <input id="start-date" class="datepicker hasDatepicker" type="text" value="{{from_date}}" size="11">
        <label>To: </label>
        <input id="end-date" class="datepicker hasDatepicker" type="text" value="{{to_date}}" size="11">
		<a href='' class="submitter">Submit</a>
      </div>
    </fieldset>

<h2 class='title'> Reports for {{report_type}} tests</h2>
<div id="results">
<table>
  <thead>
  <tr>
    <td class='header'>Date</td>
    <td class='header'>Version</td>
    <td class='header'>Build</td>
    <td class='header'>Locale</td>
    <td class='header'>Platform</td>
    <td class='header'>Version</td>
    <td class='header'>CPU</td>
    <td class='header'>Pass</td>
    <td class='header'>Skip</td>
    <td class='header'>Fail</td>
  </tr>
  </thead>
{% for report in reports %}
  <tr>
    <td><a href ="/report/{{report.id}}">{{report.date}}</a></td>
    <td>{{report.version}}</td>
    <td>{{report.build}}</td>
    <td>{{report.locale}}</td>
    <td>{{report.platform}}</td>
    <td>{{report.platform_version}}</td>
    <td>{{report.cpu}}</td>
    <td>{{report.pass}}</td>
    <td>{{report.skip}}</td>
    <td>{{report.fail}}</td>
</tr>
{% endfor %}
</table>
</div>


{% endblock %}
